* , *::after , *::before{
    box-sizing: border-box;
}
body{
    background-color: #ffc600;
    font-family: 'Roboto';
}
.inbox{
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
}
.item{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
}
:is(.item:last-child){
    border-bottom: none;
}
input[type= 'checkbox']{
    margin: 20px;
}
p{
    margin: 0;
    padding: 20px;
    transition: background-color 0.2s;
    flex: 1;
    font-size: 20px;
    font-weight: 200;
    border-left: 1px solid #D1E2FF;
}
.checkBetween{
    background-color: rgb(106, 106, 241);
}

